[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = ">=2.13,<2.14"
Django = ">=3.2,<3.3"
python-decouple = "*"
psycopg2 = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django-storages = "*"
boto3 = "*"
django-heroku = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
