{% extends "wagtailadmin/base.html" %}
{% load static %}


{% block titletag %}{{ title }}{% endblock %}
{% block bodyclass %}Dashboard{% endblock %}

{% comment %} Preload scripts. @ todo: Can we move this to the header? {% endcomment %}
<link rel="preload" as="script" href="{% static 'dashboard/js/dashboard.js' %}">


{% block content %}

{% include "wagtailadmin/shared/header.html" with title=title %}

<div id="dashboard">{{ title }}</div>

{% endblock %}


{% block extra_js %}

{{ block.super }}
<script>
// templates/timeline/timeline.html
document.addEventListener('DOMContentLoaded', function() {

    ReactDOM.render(

        React.createElement(
            'div',
            {
                children: 'DASHBOARD CONTENT HERE',
                className: 'dashboard-content'
            }
        ),
        document.getElementById('dashboard')
    )
});
</script>

{% comment %} Axios CDN {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

<script defer type="text/javascript" src="{% static 'dashboard/js/dashboard.js' %}"></script>

{% endblock %}